apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins-pvc
  namespace: jenkins-ns
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: jenkins-ebs-sc
  resources:
    requests:
      storage: 10Gi
    
