apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: jenkins-role-app-deployment
  namespace: app-ns
rules:
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["get", "list", "watch", "patch", "update"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]
