apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: jenkins-ebs-sc
provisioner: ebs.csi.aws.com
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
parameters:
  type: gp3
